* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: "Press Start 2P", "Courier New", Courier, monospace;
  background-color: #f8ee5f;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  text-align: center;
  margin: 2rem;
}

#pokedex {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  justify-content: center;
  height: 500px;
}

.middle {
  width: 5%;
  background-color: #ff0000;
  border: 1px solid black;
  border-radius: 5px;
}
.panel {
  width: 47.5%;
  background-color: #ff0000;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 1fr);
  grid-gap: 0.5rem;
}

#right-panel {
  border-radius: 0 10px 10px 0;
}

#left-panel {
  border-radius: 10px 0 0 10px;
}

section {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: #eee;
  grid-area: 5 / 2 / span 7 / span 10;
}

.circle {
  border-radius: 50%;
}

/************ Left Screen **************/

.camera {
  grid-area: 2 / 2 / 4 / 5;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
}

.camera-lense {
  background-color: cornflowerblue;
  width: 75%;
  height: 75%;
}

.signal-lights {
  grid-area: 2 / 5 / span 1 / span 3;
  display: flex;
  justify-content: space-between;
}

.signal-light {
  height: 20px;
  width: 20px;
  border: 3px solid black;
}

.red-light {
  background-color: red;
}
.yellow-light {
  background-color: yellow;
}
.green-light {
  background-color: green;
}

.red-btn {
  grid-area: 12 / 3 / 14 / span 1;
  background-color: red;
  height: 35px;
  width: 35px;
  z-index: 1000;
  align-self: center;
  justify-self: end;
  border: 3px solid black;
}

.speaker {
  grid-area: 12 / 9 / 14 / 12;
  z-index: 1000;
  align-self: center;
  justify-self: center;
  width: 65%;
}

.speaker hr {
  border: 3px solid black;
  border-radius: 10px;
  margin: 3px 0;
}

.frame {
  transform: scaleX(1.1);
  grid-area: 4 / 2 / span 10 / span 10;
  background-color: #f3f4e8;
  border: 0 solid green;
  border-radius: 5px 5px 5px 50px;
}

#poke-info {
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  padding: 5% 0;
}

.screen-overlay {
  background-color: #333;
  grid-area: 5 / 2 / span 7 / span 10;
  z-index: 2000;
}

.screen-col {
  display: flex;
  flex-flow: column wrap;
  height: 60%;
}

.poke-img {
  width: 40%;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
}

.poke-data {
  width: 60%;
  justify-content: space-around;
}

.poke-fact {
  width: 100%;
  height: 40%;
  border-top: 2px solid black;
}

/************ Right Screen **************/
.green-display {
  grid-area: 2 / 3 / 5 / span 8;
  background-color: green;
  height: 50%;
  align-self: center;
  border-radius: 5px;
}

.white-buttons {
  grid-area: 13 / 2 / 14 / 6;

  display: flex;
}

.white-btn {
  background-color: white;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
}

.black-buttons {
  grid-area: 12/ 9 / 13 / 12;

  color: white;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.black-btn {
  background-color: black;
  height: 8px;
  width: 45%;
  border-radius: 10px;
  display: flex;
}

.yellow-btn {
  grid-area: 13/ 11 / 14 / 12;
  background-color: yellow;
  height: 30px;
  width: 30px;
}

#poke-list {
  overflow-y: scroll;
  padding: 5% 10%;
}

#poke-list h2 {
  margin-bottom: 1rem;
}

a {
  padding: 0.3rem 38px;
  display: block;
  text-transform: uppercase;
}

.selected {
  position: relative;
}

.selected::before {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 0;
  transform: translateX(-100%);
  border-left: 1rem solid black;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
}
